/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};

	aliases {
		led-red   = &led1_red;
		led-green = &led0_green;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
